# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- master

pool:
  vmImage: 'ubuntu-latest'

resources:
- repo: self

variables:
  tag: '$(Build.BuildId)'

stages:

- stage: Test
  displayName: Run tests
  jobs:
  - job: Test
    displayName: Test
    steps:
    - task: DotNetCoreCLI@2
      inputs:
        command: 'test'
        projects: '**/test/*.csproj'
        arguments: '--configuration $(BuildConfiguration)'
        testRunTitle: 'Test'

- stage: BundleJS
  displayName: Process JavaScript (install dependencies and bundle)
  jobs:
  - job:
    displayName: Install dependencies from NPM
    steps:
    - task: Npm@1
      inputs:
        command: 'install'
        workingDir: 'wwwroot/js'
        verbose: true
    - task: Npm@1
      inputs:
        command: 'custom'
        workingDir: 'wwwroot/js'
        customCommand: 'run build'

- stage: BuildAndPush
  displayName: Build and push image
  jobs:
  - job: BuildAndPush
    displayName: Build and push image
    steps:
    - task: Docker@2
      inputs:
        containerRegistry: 'Docker Hub'
        repository: 'jakarlse88/peitho'
        command: 'buildAndPush'
        Dockerfile: '**/Dockerfile'
        tags: |
          $(Build.BuildId)
          latest
