@page "/Admin/Technique/Create"

<div class="container">

    <div class="row">
        <div class="col-12 d-flex flex-column justify-content-center align-items-center mh-100">
            <h3>Create New Technique</h3>
            
            <hr />
        </div>
    </div>

</div>