@page "/Admin/Technique/Create"
@layout AdminLayout

<div class="container pt-2">

    <div class="row">
        <div class="col-12 d-flex flex-column justify-content-center align-items-center mh-100">
            <h3>New Technique</h3>
            
            <hr />
        </div>
    </div>

</div>