@page "/"

<div class="container d-flex flex-column justify-content-center align-items-center" style="height: 90vh;">

    <div class="row">
        <div class="col-12">
            <h1 class="display-4 text-center">Taegeuk</h1>
            <p class="lead text-center">In the near future, this application will be presenting to the world an unprecedented technique and form catalogue, as well as deeply innovative analysis unlike anything you've seen before.</p>
        </div>
    </div>

</div>