@layout AdminLayout
@page "/Admin"
@attribute [Authorize]

<div class="container d-flex flex-column justify-content-center align-items-center" style="height: 90vh;">

    <div class="row">
        <div class="col-12">
            <h1 class="display-4 text-center">Control Panel</h1>
        </div>
    </div>

</div>
