<div class="nav-scroller bg-white box-shadow">
    <nav class="nav nav-underline">
        <NavLink class="nav-link" href="/admin" Match="NavLinkMatch.All">
            Dashboard
        </NavLink>
        <NavLink class="nav-link disabled" href="/admin/technique" Match="NavLinkMatch.All">
            Techniques
        </NavLink>
        <NavLink class="nav-link disabled" href="/admin/stance" Match="NavLinkMatch.All">Stances</NavLink>
        <NavLink class="nav-link disabled" href="/admin/transition" Match="NavLinkMatch.All">Transitions</NavLink>
        <NavLink class="nav-link disabled" href="/admin/form" Match="NavLinkMatch.All">Forms</NavLink>
    </nav>
</div>