<div class="nav-scroller navbar-light bg-light shadow">
    
    <nav class="nav nav-underline">
    
        <NavLink class="nav-link" href="/Admin" Match="NavLinkMatch.All">
            Dashboard
        </NavLink>
        
        <NavLink class="nav-link" href="/Admin/Technique" Match="NavLinkMatch.All">
            Techniques
        </NavLink>
        
        <NavLink class="nav-link disabled" href="/Admin/Stance" Match="NavLinkMatch.All">Stances</NavLink>
        
        <NavLink class="nav-link disabled" href="/Admin/Transition" Match="NavLinkMatch.All">Transitions</NavLink>
        
        <NavLink class="nav-link disabled" href="/Admin/Form" Match="NavLinkMatch.All">Forms</NavLink>
        
    </nav>
</div>