<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">

    <div class="position-sticky pt-3">

        <ul class="nav flex-column">

            <AdminSideBarNavItem Url="/Admin" Text="Dashboard"/>

            <AdminSideBarHeading Text="Technique"/>
            <div class="d-flex flex-row justify-content-between">
                <AdminSideBarNavItem Url="/Admin/Technique" Text="Overview"/>
                <NavLink href="/Admin/Technique/Create" class="align-self-center" Match="NavLinkMatch.All">
                    <i class="admin-sidebar-icon fas fa-plus fa-md mr-2"></i>
                </NavLink>
            </div>
            <AdminSideBarNavItem Url="/Admin/Technique/Category" Text="Technique Category"/>
            <AdminSideBarNavItem Url="/Admin/Technique/Type" Text="Technique Type"/>

        </ul>

    </div>

</nav>