@inherits LayoutComponentBase

<AdminNavBar/>

<!-- Sidebar -->
<AdminSideBar/>

<div class="container-fluid">
    <div class="row">

        <main class="col-md-9 ml-sm-auto col-lg-10 body-padded">

            <!-- Body -->
            @Body

        </main>
    </div>
</div>