<li class="nav-item">
    <NavLink class="nav-link" aria-current="page" href="@Url" Match="NavLinkMatch.All">
        @Text
    </NavLink>
</li>

@code {
    [Parameter] public string Url { get; set; }
    [Parameter] public string Text { get; set; }
}