<div class="row">
    <div class="col-12 d-flex flex-column justify-content-center align-items-center mh-100">
        <h3 class="mt-2 mb-4">@Heading</h3>
    </div>
</div>

@code {
    [Parameter] public string Heading { get; set; }
}