@page "/authentication/{action}"
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication


<div class="row m-auto" style="height: 100vh;">
    <div class="col-12 d-flex flex-column justify-content-center align-items-center mh-100">
        <RemoteAuthenticatorView Action="@Action">
            <LogOut>
                @{
                    var authority = (string) Configuration["Auth0:Authority"];
                    var clientId = (string) Configuration["Auth0:ClientId"];

                    Navigation.NavigateTo($"{authority}/v2/logout?client_id={clientId}");
                }
            </LogOut>
        </RemoteAuthenticatorView>
    </div>
</div>