<AuthorizeView>
    <Authorized>
        <span class="text-muted">Hello, @context.User.Identity.Name!</span>
        <a href="#" class="nav-item" @onclick="BeginSignOut">Log out</a>
    </Authorized>
    <NotAuthorized>
        <a class="nav-link" href="authentication/login">Log in</a>
    </NotAuthorized>
</AuthorizeView>