@inherits LayoutComponentBase

<NavBar/>

<AuthorizeView>
    <Authorizing>
        <div class="container">
            <div class="row m-auto" style="height: 100vh;">
                <div class="col-12 d-flex flex-column justify-content-center align-items-center mh-100">
                    <div class="spinner-border" role="status">
                    </div>
                    <p class="lead">Determining session state</p>
                    <span class="sr-only">Determining session state</span>
                </div>
            </div>
        </div>
    </Authorizing>
    <NotAuthorized>
        <div class="container">
            <div class="row m-auto" style="height: 100vh;">
                <div class="col-12 d-flex flex-column justify-content-center align-items-center mh-100">
                    <h2 class="display-4 text-danger">Error</h2>
                    <p class="lead">You are not authorized to access this page; please log in and re-try.</p>
                </div>
            </div>
        </div>
    </NotAuthorized>
    <Authorized>
        <AdminNavBar/>
        <div class="main">
            <div class="content">
                @Body
            </div>
        </div>
    </Authorized>
</AuthorizeView>