@inherits LayoutComponentBase

<div class="main">
    <NavBar />
    
    <div class="content">
        @Body
    </div>
    
    <footer class="footer mt-auto py-3">
        <p class="text-muted text-center">Conceived & Implemented by <a href="https://github.com/jakarlse88">Jon Karlsen</a></p>
    </footer>
</div>