<li class="nav-item">
    <NavLink class="nav-link" href="@Href" Match="NavLinkMatch.All">
        @Text
    </NavLink>
</li>

@code {
    [Parameter] public string Href { get; set; }
    [Parameter] public string Text { get; set; }
}